body {
    background-color: #2f343a; /* Dark gray background */
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #ffffff; /* White text color */
    font-size: 48px; /* Large font size */
    font-weight: bold; /* Bold font weight */
    margin-top: 100px; /* Add space from top */
  }
  
  p {
    color: #cccccc; /* Light gray text color */
    font-size: 25px; /* Medium font size */
    font-weight: normal; /* Normal font weight */
  }
  
  img {
    width:  300px; /* Set image width */
    height: 300px; /* Set image height */
    background: none;
    border: none;
    padding: 0;
    
  }
  
  a {
    color: #007bff; /* Blue link color */
    text-decoration: none; /* Remove underline */
  }
  
  a:hover {
    color: #0056b3; /* Darker blue on hover */
  }
  

  